
<p>Latest articles related to {{page.tagName}}</p>
<div>
      {% assign thisTag = page.tagName %}
      {% assign sorted-pages = site.pages | sort: 'created' | reverse %}
         {% for page in sorted-pages %}
            {% for tag in page.tags %}
              {% if tag == thisTag %}
                <div style="margin-bottom: 15px">
                  <div style="font-size: 18px; margin-bottom: 3px">
                      <a href="{{ page.url | remove: "/" }}"> {{page.title}} </a>
                  </div>

                  <div style="font-size: 14px; color: gray; margin-bottom: 3px">
                    {% if page.summary %}
                      {{ page.summary | strip_html | strip_newlines | truncate: 160 }} 
                    {% else %} 
                      {{ page.content | truncatewords: 50 | strip_html }} 
                    {% endif %}
                  </div>
                  <div style="font-size: 14px">Posted by Zhenghanhan on {{page.created | date_to_string}} </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}


      {% assign thisTag = page.tagName %}
      {% assign sorted-pages = site.posts | sort: 'created' | reverse %}
         {% for page in sorted-pages %}
            {% for tag in page.tags %}
              {% if tag == thisTag %}
                <div style="margin-bottom: 15px">
                  <div style="font-size: 18px; margin-bottom: 3px">
                      <a href="{{ page.url | remove: "/" }}"> {{page.title}} </a>
                  </div>

                  <div style="font-size: 14px; color: gray; margin-bottom: 3px">
                    {% if page.summary %}
                      {{ page.summary | strip_html | strip_newlines | truncate: 160 }} 
                    {% else %} 
                      {{ page.content | truncatewords: 50 | strip_html }} 
                    {% endif %}
                  </div>
                  <div style="font-size: 14px">Posted by Zhenghanhan on {{page.created | date_to_string}} </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}

</div>